<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        var url=window.location.href;
        //alert(window.location.href);
        var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
      token = hash.split("&")[0].split("=")[1];
      //alert(token);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', "http://localhost/save_token", false);
    xhr.setRequestHeader('Content-type', 'application/json');
    xhr.send(JSON.stringify({"token":token}));

    </script>

    <style>
    body { background: #ddd; font-family: Arial, sans-serif }
    p {background: #fff; padding: 20px; margin: 0 auto; width: 500px;}
    </style>
</head>
<body>
<p>You have logged in. </p><p>Please click extension button again to book a cab.</p>
</body>
</html>
